* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #fafafa;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

main {
  margin: 30px auto;
  padding: 30px;
  border: 1px solid;
  max-width: 80%;
  width: 80%;
}

h1, h2 {
  color: #09090b;
}

h1 {
  text-align: center;
}

.projects {
  margin: 30px 0;
}

.project-item {
  border: 2px solid #facc15;
  padding: 20px 30px;
  border-radius: 16px;
  background: #f4f4f5;
  box-shadow: 3px 2px 0px rgba(9, 9, 11, 0.2);
}